<p-dialog header="Display Barcode" [(visible)]="display">
  <ngx-barcode [bc-value]="order.accessionNumber" [[bc-element-type]="elementType" [bc-format]="format" [bc-line-color]="lineColor"
  [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
  [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
  [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight" > </ngx-barcode>
</p-dialog>
